<!doctype html>
<html lang="en">

<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">

    <title>RansomX</title>
</head>

<body>
    <!-- Top Navigation Bar -->
    <nav class="navbar navbar-expand-sm">
        <img class="navbar-brand" src="../static/images/image.jpg" width="25px" alt="">
        RansomX
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-light" href="analytics">Analytics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="resources">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light active" href="../news">News</a>
                </li>
            </ul>
        </div>
    </nav>
    <hr class="bg-secondary mx-3 mt-0">

    <!-- Content block to be overridden by child templates -->
    {% block content %}
    {% endblock %}

</body>

</html>