<!doctype html>
<html lang="en">

<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">

    <title>RansomX</title>
</head>

<body>
    <!-- Top Navigation Bar -->
    <nav class="navbar navbar-expand-sm">
        <img class="navbar-brand" src="../static/images/image.jpg" width="25px" alt="">
        RansomX
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-muted" href="analytics">Analytics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light active" href="resources">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-muted" href="about">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <hr class="bg-secondary mx-3 mt-0">

    <!-- Page Content -->
    Resources
                <h1>Ransomware Attacks and Counter Measures</h1>

                <h2>Common Ransomware Attacks</h2>
                <ul>
                    <li>WannaCry</li>
                    <li>Petya</li>
                    <li>Locky</li>
                    <li>CryptoLocker</li>
                    <li>Ryuk</li>
                    <li>SamSam</li>
                </ul>
                <h2>Counter Measures</h2>
                <ul>
                    <li>Regularly backup your data and keep offline backups</li>
                    <li>Use reliable and up-to-date antivirus/anti-malware software.</li>
                    <li>Keep your operating system and software up to date with the latest security patches.</li>
                    <li>Be cautious when opening email attachments or clicking on suspicious links.</li>
                    <li>Enable a firewall and use network segmentation to isolate critical systems. </li>
                    <li>Implement strong and unique passwords for all accounts. </li>
                    <li>Educate employees about ransomware threats and safe computing practices.</li>
                </ul>
</body>

</html>